.text-left {
  text-align: left;
}

.advertisement-buttons {
  margin: 34px 0 !important;
}

.advertisement-card:hover {
  box-shadow: 0 12px 19px -7px rgb(0 0 0 / 30%);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease,
    -webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);
}
