.App {
  text-align: center;
}

.ui.menu .item:before {
  width: 0 !important;
}

.ui.menu{
  border: 0 !important;
  box-shadow: 0 !important;
}

.search-bar .ui.input {
  width: 70%;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}